# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Mario_Kart_Wii_Wouhahou.iml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
